.github-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--size-4);

  @media (--lg-n-below) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--md-n-below) {
    grid-template-columns: 1fr;
  }
}
