@import "open-props/media.min.css";
@import "theme/styles/theme.selectors.css";

header.layout-header {
  --_cover-image-height: 300px;
  --_cover-image-height-mobile: 200px;

  @media print {
    display: none;
  }

  &.transparent {
    --_cover-image-height-mobile: 400px;

    & .cover-image {
      filter: brightness(1.3) contrast(0.8);
      transition: filter 250ms var(--ease-out-1);

      :--dark-color-scheme & {
        filter: brightness(0.7) contrast(1.2);
      }
    }
  }

  & .cover-image {
    height: var(--_cover-image-height);

    @media (--sm-n-below) {
      height: var(--_cover-image-height-mobile);
    }
  }
}
