.container {
  .button {
    @media print {
      display: block;
      border: none;
      text-align: left;
      padding: 0;

      &:after {
        content: attr(data-pdf-link);
        text-decoration: underline;
      }
    }

    .icon {
      @media print {
        display: none;
      }
    }

    .label {
      display: none;
      font-weight: bold;

      @media print {
        display: inline;
      }
    }
  }
}
