@import "../../../../../stylesheet/mixins";

.container {
  background-image: url('./profile-background.jpg');
  background-position: center top;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-top: -110px;

  @media print {
    background: none;
    height: 200px;
  }

  @include mobile() {
    margin-top: -299px;
  }

  &.navbarCollapsed {
    @include mobile() {
      margin-top: -110px;
    }
  }

  .filter::after {
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    display: block;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
